/*  your css code here. If applicable */
.paragraph-1{
	background-color: yellow;
	border-width: 1px;
	border-color: green;
}

.paragraph-1{
	background-color: red;
	border-width: 1px;
	border-color: black;
}

.paragraph-1{
	background-color: green;
	border-width: 1px;
	border-color: yellow;
}